/* colors
violet rgba(104,92,121, 1);
yellow rgba(255,188,103,1);
red rgba(218,114,126,1);
pink rgba(172,108,130,1);
blue rgba(69,92,123,1);


*/

* {
  outline: none;
}

body {
  max-height: 100vh;
  padding: 0px;
  margin: 0px;
  background-color: rgba(104,92,121, 1);
  font-family: "Lato", sans-serif, monospace;
}

.wrapper {
  margin-top:10vh;
  max-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*-------- clock ---------*/
#clock {
  height: 40vh;
  width: 40vh;
}

.progressbar-text {
  color: rgba(255,188,103,1) !important;
  font-size: 5vh;
}

/*-------- buttons ---------*/

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

button {
  border: none;
  background: rgba(69,92,123,1);
  height: 7vh;
  width: 12vh;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
}

button:hover {
  opacity: 0.8;
}

button i {
  margin-right: 5px;
}

.pressed {
  transform: scale(0.9);
  transition: 0.2s;
}
/*-------- sliders ---------*/

.sliders {
  margin-top: 10vh;
  width: 100%;
  display:flex;
  justify-content: space-around;
}

#work {
  width: 100px;
  height: 100px;
}

#break {
  
}

.rs-range-color  {
 background-color: rgba(218,114,126,1);
}

span.rs-tooltip.rs-tooltip-text.edit {
  font-size: 13px;
  width: 35px;
  display: flex;
  justify-content: center;
  left: 80px;
}

.rs-path-color {
  background-color: rgba(255,188,103,0.8);
}

.rs-bg-color{
  background-color: rgba(255,188,103,1);
}

.rs-border{
  border: none;
}

.rs-border.rs-outer{
  border: 3px solid rgba(218,114,126,1);
}

.rs-border.rs-inner {
  border: 3px solid rgba(218,114,126,1);
}
/*--------slider styles ---------*/
.rs-first .rs-handle {
  background-color: rgba(69,92,123,1);
}

span.rs-tooltip.rs-tooltip-text.edit {
  color: rgba(69,92,123,1);
  font-weight: 600;
  font-size: 2.7vh;
}

span.rs-tooltip.rs-tooltip-text.hover{
  background-color: rgba(172,108,130,0.3);
}