/* colors
violet rgba(104,92,121, 1);
yellow rgba(255,188,103,1);
red rgba(218,114,126,1);
pink rgba(172,108,130,1);
blue rgba(69,92,123,1);


*/

* {
  outline: none;
}

body {
  max-height: 100vh;
  height: 90vh;
  padding: 0px;
  margin: 0px;
  background-color: rgba(104,92,121, 1);
  font-family: "Lato", sans-serif, monospace;
}

.wrapper {

  max-height: 100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*-------- Title ---------*/

.pomodoro {
  display: flex;
  height: 0vh;
  width: 100%;
  justify-content: flex-end;
}

.pomodoro h3 {
  padding-right: 2.5vw;
  font-family: "Lobster", sans-serif, monospace;
  color:
rgba(172,108,130,1);
}

/*-------- clock ---------*/
#clock {
  height: 40vh;
  width: 40vh;
}

.progressbar-text {
  color: rgba(255,188,103,1) !important;
  font-size: 5vh;
}

/*-------- buttons ---------*/

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background: rgba(69,92,123,1);
  height: 7vh;
  width: 12vh;
  border-radius: 5px;
  color: rgba(255,255,255, 0.7);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
}

button:hover {
  opacity: 0.8;
}

button i {
  margin-right: 5px;
}

.pressed {
  transform: scale(0.9);
  transition: 0.2s;
}
/*-------- sliders ---------*/

.sliders {
  width: 100%;
  display:flex;
  justify-content: space-around;
}

#work {
width: 100%;
  display: flex;
}

#break {
  width: 100%;
   display: flex;
}

#breakTime, #workTime {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 1 100%;
}

.rs-range-color  {
 background-color: rgba(218,114,126,1);
}


.rs-path-color {
  background-color: rgba(255,188,103,0.8);
}

.rs-bg-color{
  background-color: rgba(255,188,103,1);
}

.rs-border{
  border: none;
}

.rs-border.rs-outer{
  border: 3px solid rgba(218,114,126,1);
}

.rs-border.rs-inner {
  border: 3px solid rgba(218,114,126,1);
}

/*--------slider and tooltip styles ---------*/
.rs-first .rs-handle {
  background-color: rgba(69,92,123,1);
}

span.rs-tooltip.rs-tooltip-text.edit {
  font-size: 13px;
  width: 35px;
  display: flex;
  justify-content: center;
  left: 80px;
  color: rgba(69,92,123,1);
  font-weight: 600;
  font-size: 2.7vh;
}

span.rs-tooltip.rs-tooltip-text.hover{
  background-color: rgba(172,108,130,0.3);
}

/*--------images ---------*/

.images {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.image {
  height: 100px;
  width: 100px;
}

/*--------alarm ---------*/
.alarm {
  display: flex;
  justify-content: center;
  color: rgba(255,188,103,1);
  cursor: pointer;
  align-items: center;
  font-size: 4vh;
  width: 10vw;
  height: 6vh;
  position: relative;
  text-align: center;
  
}


/* animation for alarm */
#alarmBtn1 {
  animation: twirl 0.3s linear forwards reverse;
  position: absolute;
}

#alarmBtn2 {
  animation: twirl 0.3s linear forwards;
  position: absolute;
  color: rgba(218,114,126,1);
}

.rotate1 {
  animation: twirl2 0.3s linear forwards !important;
}

.rotate2 {
    animation: twirl2 0.3s linear forwards reverse !important;
}

@keyframes twirl {
  0% { transform: rotateY(0deg); opacity: 1}
  100% {transform: rotateY(270deg); opacity: 0.3}
}

@keyframes twirl2 {
  0% { transform: rotateY(0deg); opacity: 1}
  100% {transform: rotateY(270deg); opacity: 0.3}
}

/*--------medie queries ---------*/
@media (min-width: 1000px) {
  .sliders {
      padding: 0 20vw;
  }
}

@media (max-width: 600px) {
  .pomodoro h3 {
    font-size: 3.5vw;
  }
  }


@media (max-width: 400px) {
  button {
    height: 7vh;
    width: 15vh;
  }
  
  #clock {
    width: 60vw;
    height: 60vw;
  }
  
  
  .images {
    height: 80px;
    margin-top: 0px;
  }
  
  .image {
  height: 70px;
  width: 70px;
  }
  
  /* slider tooltip */
  
  span.rs-tooltip.rs-tooltip-text.edit {
  left: 60px;
  font-size: 2.4vh;
}
  
}